trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  # Path to your web project
  webProject: 'EnvioMasivoEmail_MVC/EnvioMasivoEmail_MVC.csproj'
  # Path to your sync console app
  syncToolProject: 'AzureTestSyncApp/AzureTestSyncApp.csproj'

steps:
# 1. Restore dependencies for ALL projects (Web + Console)
- task: DotNetCoreCLI@2
  displayName: 'Restore All Dependencies'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

# 2. Build the Console App (Sync Tool)
- task: DotNetCoreCLI@2
  displayName: 'Build Sync Tool'
  inputs:
    command: 'build'
    projects: '$(syncToolProject)'
    arguments: '--configuration $(buildConfiguration)'

# 3. EXECUTE the Console App to Sync Gherkin Files
- task: DotNetCoreCLI@2
  displayName: 'Run AzureTestSyncApp'
  inputs:
    command: 'run'
    # CHANGE 1: Use only the filename, because we are already inside the folder
    projects: 'AzureTestSyncApp.csproj'
    arguments: '--configuration $(buildConfiguration)'
    # CHANGE 2: Set the working directory to the subfolder
    workingDirectory: 'AzureTestSyncApp'
  env:
    PERSONAL_ACCESS_TOKEN: $(MyAzurePAT) 
    ORGANIZATION_URL: 'https://dev.azure.com/UTN-FabricaSoftware-2025'
    PROJECT_NAME: 'CorreosMasivos'
    PLAN_ID: '6'

# 4. Build the Web App
- task: DotNetCoreCLI@2
  displayName: 'Build Web App'
  inputs:
    command: 'build'
    projects: '$(webProject)'
    arguments: '--configuration $(buildConfiguration)'

# 5. Publish the Web App (creates the deployment zip)
- task: DotNetCoreCLI@2
  displayName: 'Publish Web App'
  inputs:
    command: 'publish'
    projects: '$(webProject)'
    publishWebProjects: false 
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true

# 6. Deploy to Azure
- task: AzureWebApp@1
  displayName: 'Azure Web App Deploy'
  inputs:
    azureSubscription: 'AzureConnection' 
    appType: 'webApp'
    appName: 'correos-masivos' 
    package: '$(Build.ArtifactStagingDirectory)/**/*.zip'